<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap-template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-template/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/bootstrap-template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

@using Microsoft.AspNet.Identity

<body>
    <div id="wrapper">

        <!-- Navigation -->
        @if (Request.IsAuthenticated) {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("ibby-cms", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>

                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#"><i class="fa fa-user fa-fw"></i> @User.Identity.GetUserName()</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Manage")"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="navbar-default sidebar sa-fix" role="navigation">
                        <div class="sidebar-nav navbar-collapse collapse">
                            <ul class="nav" id="side-menu">
                                <li class="sidebar-search">
                                    <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" placeholder="Поиск...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i> Панель администрирования</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ManagementPage", "Admin")"><i class="fa fa-th fa-fw"></i> Управление страницами</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Manage")"><i class="fa fa-gear fa-fw"></i> Настройки профиля</a>
                                </li>
                                <li>
                                    <br />
                                </li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
        }

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container body-content">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>

                </div>
                <div class="row">
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - ibby-cms</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Content/bootstrap-template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap-template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-template/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/bootstrap-template/dist/js/sb-admin-2.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>