@model ibby_cms.Models.PageContentViewModel

@{
    ViewBag.Title = "Создать страницу";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<script src="~/CKEditor/ckeditor/ckeditor.js"></script>
<script src="~/CKEditor/ckfinder/ckfinder.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Создание страницы</h2>
    </div>
</div>

<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#mainTab" data-toggle="tab">Основное</a>
                    </li>
                    <li>
                        <a href="#seoTab" data-toggle="tab">SEO</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="panel-body">
                    <div class="tab-content" style="min-height: 500px">
                        <div class="tab-pane fade in active col-lg-12" id="mainTab">
                            <br />
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите заголовок" } })
                                    @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите URL" } })
                                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.HtmlContent, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.HtmlContent, new { @id = "FullContent", @class = "form-control", @rows = "200" })
                                    @Html.ValidationMessageFor(model => model.HtmlContent, "", new { @class = "text-danger" })
                                    <script>CKEDITOR.replace("FullContent");</script>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade col-lg-12" id="seoTab">
                            <br />
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Название" } })
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.KeyWords, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KeyWords, new { htmlAttributes = new { @class = "form-control", placeholder = "Ключевые слова" } })
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Descriptions, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Descriptions, new { @class = "form-control", @rows = "15", placeholder = "Описание..." })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <br />
            <div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="submit" value="Создать страницу" formaction="CreatePage" class="btn btn-primary btn-block" />
                    </div>
                    <div class="col-md-6">
                        <button onclick="@Url.Action("DetailsPage", "Admin")" formtarget="_blank" formaction="DetailsPage" class="btn btn-info btn-block">Просмотреть страницу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


