@model ibby_cms.Models.MenuViewModel

@{
    ViewBag.Title = "Создать меню";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
    int foo = 0;

}
@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Создание меню</h2>
    </div>
</div>

<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active col-lg-12">
                            <br />
                            <!-- Menu -->
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.TitleMenu, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TitleMenu, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите заголовок меню" } })
                                        @Html.ValidationMessageFor(model => model.TitleMenu, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите код меню" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"><hr /></div>

                            <!-- Menu item -->
                            <div class="col-lg-12">
                                <div class="panel ">
                                    <div class="panel-heading">
                                        @Html.Label("Элементы меню", htmlAttributes: new { @class = "control-label" })
                                        @Html.ActionLink("Добавить", "AddNewMenuItem", new { clickCount = foo }, new { id = "addItem", @class = "btn btn-success" })
                                    </div>
                                    <div class="panel-body">
                                        <div class="panel-group" id="accordion">
                                            <div id="NewMenuItem">
                                                @if (Model.menuItems != null) {
                                                    foreach (var menuItem in Model.menuItems) {
                                                        Html.RenderPartial("MenuItemsPartial");
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <br />
            <div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button onclick="@Url.Action("CreateMenu", "Admin")" formaction="CreateMenu" class="btn btn-primary btn-block">Создать меню</button>
                    </div>
                    <div class="col-md-6">
                        <button onclick="@Url.Action("DetailsMenu", "Admin")" formtarget="_blank" formaction="DetailsMenu" class="btn btn-info btn-block">Просмотреть меню</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



    <script>

        //$("#addItem").on('click', function () {
        //    var clickCount = +$(this).data("clickcount");
        //    if (!clickCount)
        //        clickCount = 1;

        //    //foo = clickCount++;

        //    alert(clickCount++);


        //    $(this).data("clickcount", clickCount)

        //});

    </script>

    @*<script>
            $("#addItem").click(function () {
                var clickCount = +$(this).data("clickcount");
                if (!clickCount)
                    clickCount = 1;





                $(this).data("clickcount", clickCount)
                $.ajax({
                    url: this.href,
                    data: {count: count},
                    cache: false,
                    success: function (html) { $("#NewMenuItem").append(html); }
                });


                alert(clickCount++);
                return false;
            });
        </script>*@

    <script>

        $("#addItem").click(function () {
            var clickCount = +$(this).data("clickcount");
            if (!clickCount)
                clickCount = 1;

            $(this).data("clickcount", clickCount)

            $.ajax({
                url: this.href,
                //url: '/Admin/AddNewMenuItem',
                //data: { clickCount: clickCount1 },
                cache: false,
                success: function (html) { $("#NewMenuItem").append(html); }
            });


            alert(clickCount++);
            return false;
        }
        );


    </script>

    <script>
        $("button.deleteRow").live("click", function () {
            $(this).parents("div.menuItemRow:first").remove();
            return false;
        });
    </script>




    @*<script type="text/javascript">
            var arrayPages = @Html.Raw(
            Json.Encode(
                ((IEnumerable<ibby_cms.Common.Models.PageContentModel>)ViewBag.Pages).Select(page => new
                {
                    pageId = page.Id,
                    pageUrl = page.Url
                })
            )
        );
        </script>*@


    @*<script type="text/javascript">
            $(window).load(function () {
                $(".selector").change(function () {
                    var $value = $(this).val();
                    var $title = $(this).children('option[value=' + $value + ']').html();

                    if ($value == "") {
                        $('input#inputUrl').attr('readonly', false);
                        $('input#inputUrl').val("");
                    }
                    else {
                        $('input#inputUrl').attr('readonly', true);
                        var result = $.grep(arrayPages, function (e) {
                            return e.pageId == $value;
                        });

                        $('input#inputUrl').val(result[0].pageUrl);
                    }
                });
            });
        </script>*@
}
