@model ibby_cms.Models.PageContentViewModel

@{
    ViewBag.Title = "Удалить страницу";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";

}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Вы уверены что хотите удалить страницу?</h2>
    </div>
</div>

@using (@Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-10">
            <button onclick="location.href ='@Url.Action("ManagementPage", "Admin")'" class="btn btn-default">Вернуться назад</button> 
            <input type="submit" value="Удалить страницу" class="btn btn-danger" />
        </div>
    </div>
}

<br /><br /><hr />

<div class="container">
    <h1>@Html.DisplayFor(model => model.Header)</h1>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <p>@Html.Raw(Model.HtmlContent)</p>
                </div>
            </div>
        </div>
    </div>
</div>
