@model PagedList.IPagedList<ibby_cms.Models.PageContentViewModel>
@using PagedList.Mvc

<link href="~/Content/iconStyle.css" rel="stylesheet" type="text/css" />

<link href="~/Content/bootstrap-template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-template/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/Content/bootstrap-template/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<link href="~/Content/bootstrap-template/dist/css/sb-admin-2.css" rel="stylesheet">
<link href="~/Content/bootstrap-template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Management pages";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Управление страницами</h2>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <button onclick="location.href ='@Url.Action("CreatePage", "Admin")'" class="btn btn-primary">Создать страницу</button>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <br />
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Заголовок</th>
                                <th>Url</th>
                                <th>Состояние</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Header)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Url)
                                    </td>
                                    <td>
                                        @if (!item.IsPublished) {
                                            <span class="fa fa-times fa-fw iconstyle-remove"></span>
                                            <span>Не опубликована</span>
                                        }
                                        else {
                                            <span class="fa fa-check fa-fw iconstyle-ok"></span>
                                            <span>Опубликована</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!item.IsPublished) {
                                            <button onclick="location.href = '@Url.Action("PublishPage", "Admin", new { id = item.Id})' " type="button" class="btn btn-success btn-circle" title="Опубликовать страницу">
                                                <i class="fa fa-caret-up"></i>
                                            </button>
                                        }
                                        else {
                                            <button onclick="location.href = '@Url.Action("PublishPage", "Admin", new { id = item.Id})' " type="button" class="btn btn-danger btn-circle" title="Снять с публикации страницу">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        }
                                        <button onclick="location.href = '@Url.Action("DetailsPage", "Admin", new { id = item.Id})' " type="button" class="btn btn-info btn-circle" title="Просмотреть страницу">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button onclick="location.href = '@Url.Action("EditPage", "Admin", new { id = item.Id})' " type="button" class="btn btn-warning btn-circle" title="Редактировать страницу">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button onclick="location.href = '@Url.Action("DeletePage", "Admin", new { id = item.Id})' " type="button" class="btn btn-danger btn-circle" title="Удалить страницу">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                        @if (item.IsPublished) {
                                            <button onclick="location.href = '@Url.Action("Index", "Page", new { permalink = item.Url}, null)' " type="button" class="btn btn-default btn-circle" title="Перейти на страницу">
                                                <i class="fa fa-align-justify"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ManagementPage", new { page }))
    </div>
</div>




@*<table class="table table-striped table-bordered table-hover" id="ModelDataTables">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Url</th>
                    <th>Состояние</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Header)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @if (!item.IsPublished) {
                                <span class="fa fa-times fa-fw iconstyle-remove"></span>
                                <span>Не опубликована</span>
                            }
                            else {
                                <span class="fa fa-check fa-fw iconstyle-ok"></span>
                                <span>Опубликована</span>
                            }
                        </td>
                        <td>
                            <div>
                                @if (!item.IsPublished) {
                                    @Html.ActionLink("Публиковать", "PublishPage", new { id = item.Id })
                                }
                                else {
                                    @Html.ActionLink("Снять с публикации", "PublishPage", new { id = item.Id })
                                }
                            </div>
                            <div>
                                @Html.ActionLink("Просмотреть", "DetailsPage", new { id = item.Id })
                            </div>
                            <div>
                                @Html.ActionLink("Редактировать", "EditPage", new { id = item.Id })
                            </div>
                            <div>
                                @if (item.IsPublished) {
                                    @Html.ActionLink("Перейти на страницу", "Index", "Page", new { permalink = item.Url }, null)
                                }
                            </div>
                            <div>
                                @Html.ActionLink("Удалить", "DeletePage", new { id = item.Id })
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    <br />
            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("ManagementPage", new { page }))
            </div>
            </div>
*@

@section Scripts
{
    <script src="~/Content/bootstrap-template/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bootstrap-template/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/bootstrap-template/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script>
        $(document).ready(function () {
            $('#ModelDataTables').DataTable({
                responsive: true,
                ordering: false,
                paging: false,
                info: false,
                searching: true
            });
        });
    </script>
}
