@model PagedList.IPagedList<ibby_cms.Models.PageContentViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/iconStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Management pages";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Управление страницами</h2>

<br />

<div class="form-group">
    <div class="col-md-offset-0 col-md-10">
        <button onclick="location.href ='@Url.Action("CreatePage", "Admin")'" class="btn btn-primary">Создать страницу</button>
    </div>
</div>

<br /><br /><br />

<table class="table">
    <tr>
        <th>Заголовок</th>
        <th>Url</th>
        <th>Состояние</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @if (!item.IsPublished) {
                    <span class="glyphicon glyphicon-remove iconstyle-remove"></span>
                    <span>Не опубликована</span>
                }
                else {
                    <span class="glyphicon glyphicon-ok iconstyle-ok"></span>
                    <span>Опубликована</span>
                }

            </td>
            <td>
                <div class="row">
                    <div>
                        @if (!item.IsPublished) {
                            @Html.ActionLink("Публиковать", "PublishPage", new { id = item.Id })
                        }
                        else {
                            @Html.ActionLink("Снять с публикации", "PublishPage", new { id = item.Id })
                        }
                    </div>
                    <div>
                        @Html.ActionLink("Просмотреть", "DetailsPage", new { id = item.Id })
                    </div>
                    <div>
                        @Html.ActionLink("Редактировать", "EditPage", new { id = item.Id })
                    </div>
                    <div>
                        @if (item.IsPublished) {
                            @Html.ActionLink("Перейти на страницу", "Index", "Page", new { permalink = item.Url }, null)
                        }
                        </div>
                    <div>
                        @Html.ActionLink("Удалить", "DeletePage", new { id = item.Id })
                    </div>
                </div>
            </td>
        </tr>
    }
</table>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ManagementPage", new { page }))





