@model IEnumerable<ibby_cms.Models.PageContentViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Management pages";
}

<h2>Управление страницами</h2>
<br />
<li>
    @Html.ActionLink("Создать страницу", "CreatePage")
</li>
<br />

    <table class="table">
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    <div class="row">
                        <div>
                            @Html.ActionLink("Просмотреть", "DetailsPage", new { id = item.Id })
                        </div>
                        <div>
                            @Html.ActionLink("Редактировать", "EditPage", new { id = item.Id })
                        </div>
                        <div>
                            @Html.ActionLink("Удалить", "DeletePage", new { id = item.Id })
                        </div>

                        <div>
                            @Html.ActionLink("получить url", "Index", "Page", new { permalink = item.Url }, null)
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>

<br />




